*:focus {
  outline: none;
}
.App {
  /* text-align: center; */
  background-color: #a7a7a7;
}

body{
  align-content: center;
  margin-left: 0;
  text-align: center;
  background-color: #a7a7a7 !important;
  height: 100%;
}
.done{
  color: #738598;
  text-decoration: line-through;
}

ul{
  margin-top: 100px !important;
  margin-left: -40px;
}

li {
  list-style-type: none;
  font-size: 25px;
  width: 100%;
  padding: none;
  background: #a7d7c5;
  border-bottom: 1px !important;
  margin: none;
  font-family: 'Open Sans', sans-serif;
}


.form{
  width: 400px;
  margin: 0 auto;
}
input{
  height: 35px;
  /* width: 200px !important; */
  font-size: 20px;
  /* margin: 0 auto; */
  padding-left: -15px !important;
  background-color: #c0bfbf !important;
  border-bottom-color: #acdbdf !important;
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #acdbdf;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #acdbdf;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #acdbdf;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  border-top-style: solid;
  border-top-width: 1px;
  /* float: right;
  margin-top: 20px;
  margin-right: 100px;
  padding-left: 30px; */
  background: url(icon2.png) no-repeat scroll 7px 7px #a7a7a7;
  background-size: 20px 20px;
  /* background-color: #!important; */
  margin-right: 20px !important;
  transition-delay: 2s !important;
}

.input-group{
  width:400px !important;
  float: right;
  margin-left: -300px;
  /* justify-content: center !important; */
}

.form-control{
  justify-content: right !important;
  align-content: flex-start !important;
  float: right;
  margin-top: -50px; 
  padding-left: 30px !important;
}

input:hover{
  background-color: #a1a1a1 !important;
  
}

.title{
  font-size: 50px;
  font-family: 'Princess Sofia', cursive;
  color: #ffffff;
  margin-left: 10px;
  padding-top: 5px;
  /* float: left;
  margin-left: 20px; */
  margin-bottom: 0;
}

.image img{
  width: 100%;
  height: 100%; 
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  height: 100%;
}

.col{
  /* border: 2px solid khaki */
  border: 2px solid #a7a7a7;
}

.container-fluid {
  margin-top: -70px;
  border: none;
  height: 100%;
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  background: #a7d7c5;
  margin-left: -50px;
  margin-bottom: 0 !important;
  font-family: 'Open Sans', sans-serif;
}

/* .container-fluid:hover{
  background-color: #DFE2E2;
} */

.image-section{
  margin-top: -30px;
  margin-left: 2px;
  margin-right: -70px;
  width:200px;
  float:left;
  padding-bottom: 20px;
}

.image{
  /* transform: rotate(90deg); */
  width:100%;
  height:600px;
}

.todo-section{
  margin:-25px;
  height: 600px;
  margin-right: -2px;
  margin-left: -70px;
  background-color: #a7a7a7;
}

.rmbtn{
border: 100px 100px;
  /* border: none; */
  width: 20px;
  height: 20px;
  background-image: url(./icon3.png);
  background-size: cover;
  float: right;
  color: #a7a7a7;
  /* margin-right: -7px; */
}

.rmbtn:hover{
  cursor: pointer;
}